Repository napalm-automation/napalm, pull requests merged in 2018-12, with the labels that each got.

#887 Fix path in tests when running on a windows environment
  test/base/test_mock_driver.py
Labels: testing framework, windows

#881 Allow for disable of Junos Locking so that it can be externally managed
  docs/support/index.rst
  napalm/junos/junos.py
Labels: enhancement, junos, optional arg

#888 Handle missing remote port in junos LLDP neighbors data
  napalm/junos/junos.py
  test/junos/mocked_data/test_get_lldp_neighbors_detail/missing_port_ids/expected_result.json
  test/junos/mocked_data/test_get_lldp_neighbors_detail/missing_port_ids/facts.yml
  test/junos/mocked_data/test_get_lldp_neighbors_detail/missing_port_ids/get-lldp-interface-neighbors-information.xml
  test/junos/mocked_data/test_get_lldp_neighbors_detail/missing_port_ids/get-lldp-neighbors-information.xml
Labels: bug, junos

#890 Make nxos return info for all VRFs when getting IP and ARP data
  napalm/nxos_ssh/nxos_ssh.py
  test/nxos_ssh/mocked_data/test_get_arp_table/fhrp_entries/show_ip_arp_vrf_all___exc_INCOMPLETE.txt
  test/nxos_ssh/mocked_data/test_get_arp_table/normal/show_ip_arp_vrf_all___exc_INCOMPLETE.txt
  test/nxos_ssh/mocked_data/test_get_arp_table/sub_second_entry/show_ip_arp_vrf_all___exc_INCOMPLETE.txt
  test/nxos_ssh/mocked_data/test_get_interfaces_ip/normal/show_ip_interface_vrf_all.txt
  test/nxos_ssh/mocked_data/test_get_interfaces_ip/normal/show_ipv6_interface_vrf_all.txt
Labels: bug, nxos-ssh

#889 Catch ValueError exception when vlan is not set to an integer.
  napalm/nxos/nxos.py
Labels: nxos
