Repository napalm-automation/napalm, pull requests merged in 2018-08, with the labels that each got.

#760 junos: support edit/top keywords in set based configs
  napalm/junos/junos.py
Labels: enhancement, junos

#738 Fix #732
  napalm/eos/eos.py
  test/eos/test_heredoc.py
Labels: enhancement, eos

#715 WIP: Add a tutorial to use Napalm mock driver
  docs/tutorials/index.rst
  docs/tutorials/mock_driver.rst
Labels: documentation, enhancement, mock

#797 Fix #796
  napalm/eos/utils/textfsm_templates/vrf.tpl
  test/eos/mocked_data/test_get_network_instances/issue-796/expected_result.json
  test/eos/mocked_data/test_get_network_instances/issue-796/show_ip_interface.json
  test/eos/mocked_data/test_get_network_instances/issue-796/show_ipv6_interface.json
  test/eos/mocked_data/test_get_network_instances/issue-796/show_vrf.text
Labels: bug, eos

#798 Allow classes to use parent's textfsm templates
  napalm/base/helpers.py
  test/eos/utils/textfsm_templates
  test/ios/utils/textfsm_templates/ip_bgp_all_sum.tpl
  test/ios/utils/textfsm_templates/ip_bgp_neigh.tpl
  test/ios/utils/textfsm_templates/ip_bgp_neigh_afi.tpl
  test/ios/utils/textfsm_templates/show_lldp_neighbors.tpl
  test/ios/utils/textfsm_templates/show_lldp_neighbors_detail.tpl
  test/nxos/utils/textfsm_templates
  test/nxos_ssh/utils/textfsm_templates
Labels: base, enhancement

#767 Fix #651
  napalm/junos/junos.py
  napalm/junos/utils/junos_views.yml
  test/junos/mocked_data/test_get_interfaces/iffdown/expected_result.json
  test/junos/mocked_data/test_get_interfaces/iffdown/get-interface-information.xml
  test/junos/mocked_data/test_get_interfaces/normal/expected_result.json
Labels: bug, junos
