Repository napalm-automation/napalm, pull requests merged in 2018-03, with the labels that each got.

#665 [646] updating junos.py to support PTX platform
  napalm/junos/junos.py
Labels: bug, junos

#673 Unify netmiko argument processing across napalm drivers
  napalm/base/netmiko_helpers.py
  napalm/ios/ios.py
  napalm/iosxr/iosxr.py
  napalm/nxos/nxos.py
  napalm/nxos_ssh/nxos_ssh.py
  test/base/test_helpers.py
Labels: core, enhancement, ios, iosxr, nxos-ssh

#674 Make nxos_facts behavior more consistent between NX-API and SSH
  napalm/base/canonical_map.py
  napalm/nxos_ssh/nxos_ssh.py
  test/nxos/mocked_data/test_get_facts/normal/expected_result.json
  test/nxos/mocked_data/test_get_facts/normal/show_hostname.json
  test/nxos_ssh/mocked_data/test_get_facts/7009_6_2_14/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/missing_domain/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/newer_version/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/newer_version/show_hostname.txt
  test/nxos_ssh/mocked_data/test_get_facts/newer_version/show_hosts.txt
  test/nxos_ssh/mocked_data/test_get_facts/newer_version/show_interface_status.txt
  test/nxos_ssh/mocked_data/test_get_facts/newer_version/show_version.txt
  test/nxos_ssh/mocked_data/test_get_facts/normal/expected_result.json
Labels: enhancement, nxos, nxos-ssh

#632 Update get_interfaces_ip to deal with unnumbered interfaces
  napalm/nxos/nxos.py
  test/nxos/mocked_data/test_get_interfaces_ip/normal/expected_result.json
  test/nxos/mocked_data/test_get_interfaces_ip/normal/show_ip_interface.json
Labels: bug, nxos
