Repository napalm-automation/napalm, pull requests merged in 2018-10, with the labels that each got.

#839 update docs with load conf methods not supported for vEOS < 4.15
  docs/support/eos.rst
Labels: documentation, eos

#841 print changed to function to support python3
  docs/tutorials/context_manager.rst
Labels: documentation

#826 junos cli function: all pipes ignored ?
  napalm/junos/junos.py
Labels: bug, junos

#853 Enforce Paramiko >= 2.4.2
  requirements.txt
Labels: cve

#837 NX-OS get_network_instances
  napalm/nxos/nxos.py
  test/nxos/mocked_data/test_get_network_instances/normal/expected_result.json
  test/nxos/mocked_data/test_get_network_instances/normal/show_vrf_detail.json
  test/nxos/mocked_data/test_get_network_instances/normal/show_vrf_interface.json
Labels: method implementation, nxos
