Repository napalm-automation/napalm, pull requests merged in 2019-09, with the labels that each got.

#1042 Implemented lock_disable for EOS based on Junos.
  napalm/eos/eos.py
Labels: enhancement, eos, optional arg

#1047 #1046 Use new dictionary key to fetch OS version
  napalm/nxos/nxos.py
Labels: bug, nxos

#1054 Add get_environment support for NXOS driver
  napalm/nxos/nxos.py
  test/nxos/mocked_data/test_get_environment/normal/expected_result.json
  test/nxos/mocked_data/test_get_environment/normal/show_environment.json
  test/nxos/mocked_data/test_get_environment/normal/show_processes_cpu.json
  test/nxos/mocked_data/test_get_environment/normal/show_processes_memory_shared.json
  test/nxos/mocked_data/test_get_environment/pre_7.0/expected_result.json
  test/nxos/mocked_data/test_get_environment/pre_7.0/show_environment.json
  test/nxos/mocked_data/test_get_environment/pre_7.0/show_processes_cpu.json
  test/nxos/mocked_data/test_get_environment/pre_7.0/show_processes_memory_shared.json
Labels: bug, nxos, vendor bug

#989 napalm.nxos.traceroute - VRF traces and handle AS in hops
  napalm/nxos/nxos.py
Labels: enhancement, nxos

#986 Fix extra line in show ip int brief on IOS
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_facts/empty_show_hosts/show_ip_interface_brief.txt
Labels: bug, ios

#860 Expand nxos commit merge rollback error
  napalm/nxos/nxos.py
Labels: enhancement, nxos

#768 ios get_bgp_neighbors vrf and safi aware
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_arp_table_with_vrf/normal/expected_result.json
  test/ios/mocked_data/test_get_arp_table_with_vrf/normal/show_arp_vrf_TEST___exclude_Incomplete.txt
  test/ios/mocked_data/test_get_bgp_neighbors/mcast_ipv6/expected_result.json
  test/ios/mocked_data/test_get_bgp_neighbors/mcast_ipv6/show_bgp_all_summary.txt
  test/ios/mocked_data/test_get_bgp_neighbors/mcast_ipv6/show_bgp_ipv4_mdt_all_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/mcast_ipv6/show_bgp_ipv4_multicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/mcast_ipv6/show_bgp_ipv4_unicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/mcast_ipv6/show_bgp_ipv6_multicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/mcast_ipv6/show_bgp_ipv6_unicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/mcast_ipv6/show_bgp_vpnv4_unicast_all_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/mcast_ipv6/show_bgp_vpnv6_unicast_all_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/normal/expected_result.json
  test/ios/mocked_data/test_get_bgp_neighbors/normal/show_bgp_ipv4_mdt_all_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/normal/show_bgp_ipv4_multicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/normal/show_bgp_ipv6_multicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/normal/show_bgp_vpnv4_unicast_all_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/normal/show_bgp_vpnv6_unicast_all_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/vrfs_mdt/expected_result.json
  test/ios/mocked_data/test_get_bgp_neighbors/vrfs_mdt/show_bgp_all_summary.txt
  test/ios/mocked_data/test_get_bgp_neighbors/vrfs_mdt/show_bgp_ipv4_mdt_all_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/vrfs_mdt/show_bgp_ipv4_multicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/vrfs_mdt/show_bgp_ipv4_unicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/vrfs_mdt/show_bgp_ipv6_multicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/vrfs_mdt/show_bgp_ipv6_unicast_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/vrfs_mdt/show_bgp_vpnv4_unicast_all_neighbors.txt
  test/ios/mocked_data/test_get_bgp_neighbors/vrfs_mdt/show_bgp_vpnv6_unicast_all_neighbors.txt
Labels: enhancement, ios
