Repository napalm-automation/napalm, pull requests merged in 2019-10, with the labels that each got.

#1053 Fixes get_environment memory collection on ios-xe devices
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_environment/ios_xe/expected_result.json
  test/ios/mocked_data/test_get_environment/ios_xe/show_env_temperature_status.txt
  test/ios/mocked_data/test_get_environment/ios_xe/show_memory.txt
  test/ios/mocked_data/test_get_environment/ios_xe/show_memory_statistics.txt
  test/ios/mocked_data/test_get_environment/ios_xe/show_proc_cpu.txt
Labels: bug, ios, iosxe

#750 get_route_to implementation for IOS
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_route_to/7200_format/expected_result.json
  test/ios/mocked_data/test_get_route_to/7200_format/show_ip_bgp_1_0_4_0_24.txt
  test/ios/mocked_data/test_get_route_to/7200_format/show_ip_bgp_neighbors___include_is_1_2_3_4.txt
  test/ios/mocked_data/test_get_route_to/7200_format/show_ip_bgp_vpnv4_vrf_TEST_1_0_4_0_24.txt
  test/ios/mocked_data/test_get_route_to/7200_format/show_ip_bgp_vpnv4_vrf_TEST_neighbors___include_is_10_105_113_164.txt
  test/ios/mocked_data/test_get_route_to/7200_format/show_ip_protocols___include_bgp.txt
  test/ios/mocked_data/test_get_route_to/7200_format/show_ip_route_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/7200_format/show_ip_route_vrf_TEST_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/7200_format/show_ip_vrf.txt
  test/ios/mocked_data/test_get_route_to/7200_format/show_vrf.txt
  test/ios/mocked_data/test_get_route_to/asr_pe/expected_result.json
  test/ios/mocked_data/test_get_route_to/asr_pe/show_ip_bgp_vpnv4_vrf_TEST_1_0_4_0_24.txt
  test/ios/mocked_data/test_get_route_to/asr_pe/show_ip_bgp_vpnv4_vrf_TEST_neighbors___include_is_10_33_4_10.txt
  test/ios/mocked_data/test_get_route_to/asr_pe/show_ip_protocols___include_bgp.txt
  test/ios/mocked_data/test_get_route_to/asr_pe/show_ip_route_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/asr_pe/show_ip_route_vrf_Mgmt_intf_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/asr_pe/show_ip_route_vrf_TEST2_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/asr_pe/show_ip_route_vrf_TEST_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/asr_pe/show_vrf.txt
  test/ios/mocked_data/test_get_route_to/normal/expected_result.json
  test/ios/mocked_data/test_get_route_to/normal/show_ip_bgp_1_0_4_0_24.txt
  test/ios/mocked_data/test_get_route_to/normal/show_ip_bgp_neighbors___include_is_10_105_179_5.txt
  test/ios/mocked_data/test_get_route_to/normal/show_ip_bgp_vpnv4_vrf_TEST_1_0_4_0_24.txt
  test/ios/mocked_data/test_get_route_to/normal/show_ip_bgp_vpnv4_vrf_TEST_neighbors___include_is_10_105_113_164.txt
  test/ios/mocked_data/test_get_route_to/normal/show_ip_protocols___include_bgp.txt
  test/ios/mocked_data/test_get_route_to/normal/show_ip_route_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/normal/show_ip_route_vrf_TEST_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/normal/show_vrf.txt
Labels: ios, method implementation

#1064 When asPathType is Internal (IBGP), as_path is empty and the remote-as is the local_as
  napalm/eos/eos.py
Labels: bug, eos

#1063 Release 2.5.0
  setup.py
Labels: release

#1070 Fix unittests with junos-eznc 2.3.0
  requirements.txt
  test/junos/conftest.py
Labels: dependency issue, junos, testing framework

#1068 NAPALM with PY3 only support
  .travis.yml
  napalm/base/__init__.py
  napalm/base/base.py
  napalm/base/canonical_map.py
  napalm/base/clitools/cl_napalm.py
  napalm/base/clitools/cl_napalm_configure.py
  napalm/base/clitools/cl_napalm_test.py
  napalm/base/clitools/cl_napalm_validate.py
  napalm/base/clitools/helpers.py
  napalm/base/constants.py
  napalm/base/exceptions.py
  napalm/base/helpers.py
  napalm/base/mock.py
  napalm/base/netmiko_helpers.py
  napalm/base/test/base.py
  napalm/base/test/conftest.py
  napalm/base/test/double.py
  napalm/base/test/getters.py
  napalm/base/test/helpers.py
  napalm/base/test/models.py
  napalm/base/utils/jinja_filters.py
  napalm/base/utils/py23_compat.py
  napalm/base/utils/string_parsers.py
  napalm/base/validate.py
  napalm/eos/eos.py
  napalm/ios/ios.py
  napalm/iosxr/constants.py
  napalm/iosxr/iosxr.py
  napalm/junos/constants.py
  napalm/junos/junos.py
  napalm/junos/utils/junos_views.py
  napalm/nxos/nxos.py
  napalm/nxos_ssh/nxos_ssh.py
  requirements-dev.txt
  setup.py
  test/base/test_get_network_driver.py
  test/base/test_helpers.py
  test/base/test_mock_driver.py
  test/base/test_napalm_test_framework.py
  test/base/validate/test_validate.py
  test/ios/TestIOSDriver.py
  test/ios/conftest.py
  test/ios/test_getters.py
  test/iosxr/conftest.py
  test/iosxr/test_getters.py
  test/nxos_ssh/conftest.py
  tox.ini
Labels: python3

#1072 For Vlan interfaces nxos driver, the state is not correctly defined (related to json output).
  napalm/nxos/nxos.py
  test/nxos/mocked_data/test_get_interfaces/normal/expected_result.json
  test/nxos/mocked_data/test_get_interfaces/vlan_interface/expected_result.json
  test/nxos/mocked_data/test_get_interfaces/vlan_interface/show_interface.json
Labels: bug, nxos

#1071 If the command returns a null value then json.loads(None) throws an exception
  napalm/nxos/nxos.py
Labels: bug, nxos

#1019 IOS: Return empty dictionary if BGP not running
  napalm/base/test/getters.py
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_bgp_neighbors/bgp_inactive/expected_result.json
  test/ios/mocked_data/test_get_bgp_neighbors/bgp_inactive/show_bgp_all_summary.txt
Labels: bgp, ios
