Repository napalm-automation/napalm, pull requests merged in 2020-05, with the labels that each got.

#1190 Filter unneeded header configuration lines from IOS and NX-OS get_config
  napalm/base/helpers.py
  napalm/ios/ios.py
  napalm/nxos/nxos.py
  test/ios/mocked_data/test_get_config/normal/expected_result.json
  test/nxos/mocked_data/test_get_config/normal/expected_result.json
  test/nxos_ssh/mocked_data/test_get_config/normal/expected_result.json
Labels: enhancement, ios

#1193 IOS-XR: remove unnecessary lines from get_config output
  napalm/iosxr/iosxr.py
  test/iosxr/mocked_data/test_get_config/normal/expected_result.json
  test/iosxr/mocked_data/test_get_config_filtered/normal/expected_result.json
Labels: enhancement, iosxr

#1196 SRX cluster devices stack RPC replies under multi-routing-engine-results
  napalm/junos/junos.py
  napalm/junos/utils/junos_views.yml
  test/junos/conftest.py
  test/junos/mocked_data/test_get_environment/issue1183_srx_multi_node/expected_result.json
  test/junos/mocked_data/test_get_environment/issue1183_srx_multi_node/facts.yml
  test/junos/mocked_data/test_get_environment/issue1183_srx_multi_node/get-environment-information.xml
  test/junos/mocked_data/test_get_environment/issue1183_srx_multi_node/get-power-usage-information-detail.xml
  test/junos/mocked_data/test_get_environment/issue1183_srx_multi_node/get-route-engine-information.xml
  test/junos/mocked_data/test_get_environment/issue1183_srx_multi_node/get-temperature-threshold-information.xml
Labels: bug, junos, vendor bug

#1191 Use the as_number helper function to ensure correct ASN format
  napalm/eos/eos.py
  test/eos/mocked_data/test_get_bgp_config/issue_1113_dot_asn/expected_result.json
  test/eos/mocked_data/test_get_bgp_config/issue_1113_dot_asn/show_running_config___section_router_bgp.text
Labels: bug, eos

#1093 EOS syntax change updates
  napalm/eos/eos.py
  napalm/eos/pyeapi_syntax_wrapper.py
  napalm/eos/utils/cli_syntax.py
  napalm/eos/utils/versions.py
  test/eos/conftest.py
  test/eos/mocked_data/show_clock.text
  test/eos/mocked_data/show_version.json
  test/eos/test_cli_syntax.py
  test/eos/test_versions.py
Labels: :man_facepalming:, eos, needs testcase, pending discussion

#1201 Bugfix/ios get interfaces counters mgmt0
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_interfaces_counters/no_canonical_for_mgmt/expected_result.json
  test/ios/mocked_data/test_get_interfaces_counters/no_canonical_for_mgmt/show_interface_summary.txt
  test/ios/mocked_data/test_get_interfaces_counters/no_canonical_for_mgmt/show_interfaces.txt
Labels: bug, ios

#1202 Version 3.0.1
  setup.py
Labels: release

#1199 Junos: close configuration in case configure_private is set to avoid …
  napalm/junos/junos.py
Labels: bug, junos

#1206 Bugfix/ios get optics input na
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_optics/interface_shutdown_v2/expected_result.json
  test/ios/mocked_data/test_get_optics/interface_shutdown_v2/show_interfaces_transceiver.txt
Labels: bug, ios

#1208 Bugfix/ios get optics support vss
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_optics/vss_setup/expected_result.json
  test/ios/mocked_data/test_get_optics/vss_setup/show_interfaces_transceiver.txt
  test/ios/mocked_data/test_get_optics/vss_setup/show_interfaces_transceiver_switch_1.txt
  test/ios/mocked_data/test_get_optics/vss_setup/show_interfaces_transceiver_switch_2.txt
  test/ios/mocked_data/test_get_optics/vss_setup/show_switch_virtual.txt
Labels: bug, ios

#1210 Add mock data to test get_facts & get_environment
  napalm/iosxr_netconf/iosxr_netconf.py
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-asr9k-envmon-ui/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-asr9k-envmon-ui/get_environment__environment.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-asr9k-envmon-ui/get_environment__memory-summary.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-asr9k-envmon-ui/get_environment__system-monitoring.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-asr9k-envmon-ui/get_environment__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-asr9k-envmon-ui/server_capabilities.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-asr9k-envmon-ui/version.md
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-envmon-ui/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-envmon-ui/get_environment__environment.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-envmon-ui/get_environment__memory-summary.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-envmon-ui/get_environment__system-monitoring.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-envmon-ui/get_environment__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-envmon-ui/server_capabilities.xml
  test/iosxr_netconf/mocked_data/test_get_environment/asr9k-x64-sysadmin-envmon-ui/version.md
  test/iosxr_netconf/mocked_data/test_get_environment/ncs540-sysadmin-envmon-ui/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_environment/ncs540-sysadmin-envmon-ui/get_environment__environment.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs540-sysadmin-envmon-ui/get_environment__memory-summary.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs540-sysadmin-envmon-ui/get_environment__system-monitoring.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs540-sysadmin-envmon-ui/get_environment__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs540-sysadmin-envmon-ui/server_capabilities.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs540-sysadmin-envmon-ui/version.md
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-envmon-ui/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-envmon-ui/get_environment__environment.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-envmon-ui/get_environment__memory-summary.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-envmon-ui/get_environment__system-monitoring.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-envmon-ui/get_environment__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-envmon-ui/server_capabilities.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-envmon-ui/version.md
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-fretta-envmon-ui/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-fretta-envmon-ui/get_environment__environment.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-fretta-envmon-ui/get_environment__memory-summary.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-fretta-envmon-ui/get_environment__system-monitoring.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-fretta-envmon-ui/get_environment__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-fretta-envmon-ui/server_capabilities.xml
  test/iosxr_netconf/mocked_data/test_get_environment/ncs5500-sysadmin-fretta-envmon-ui/version.md
  test/iosxr_netconf/mocked_data/test_get_environment/xrv9k/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_environment/xrv9k/get_environment__environment.xml
  test/iosxr_netconf/mocked_data/test_get_environment/xrv9k/get_environment__memory-summary.xml
  test/iosxr_netconf/mocked_data/test_get_environment/xrv9k/get_environment__system-monitoring.xml
  test/iosxr_netconf/mocked_data/test_get_environment/xrv9k/get_environment__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_environment/xrv9k/server_capabilities.xml
  test/iosxr_netconf/mocked_data/test_get_environment/xrv9k/version.md
  test/iosxr_netconf/mocked_data/test_get_facts/asr9k-x64/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_facts/asr9k-x64/get_facts__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_facts/asr9k-x64/version.md
  test/iosxr_netconf/mocked_data/test_get_facts/ncs540/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_facts/ncs540/get_facts__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_facts/ncs540/version.md
  test/iosxr_netconf/mocked_data/test_get_facts/ncs540l/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_facts/ncs540l/get_facts__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_facts/ncs540l/version.md
  test/iosxr_netconf/mocked_data/test_get_facts/ncs5500/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_facts/ncs5500/get_facts__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_facts/ncs5500/version.md
  test/iosxr_netconf/mocked_data/test_get_facts/xrv9k/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_facts/xrv9k/get_facts__system-time__interfaces__inventory.xml
  test/iosxr_netconf/mocked_data/test_get_facts/xrv9k/version.md
Labels: iosxr_netconf, tests

#1214 Fix cmd_verify and null character on NX-OS
  napalm/nxos_ssh/nxos_ssh.py
Labels: bug, nxos-ssh

#1212 Add eos_fn0039_config optional arg to toggle FN 0039 on config commands
  docs/support/index.rst
  napalm/eos/eos.py
  napalm/eos/pyeapi_syntax_wrapper.py
  test/eos/test_heredoc.py
Labels: bug, eos, optional arg

#1203 Prepare release 3.0.1
  README.md
  docs/support/index.rst
  napalm/eos/eos.py
  napalm/eos/pyeapi_syntax_wrapper.py
  napalm/ios/ios.py
  napalm/junos/junos.py
  napalm/nxos_ssh/nxos_ssh.py
  requirements-dev.txt
  setup.py
  test/eos/test_heredoc.py
  test/ios/mocked_data/test_get_interfaces_counters/no_canonical_for_mgmt/expected_result.json
  test/ios/mocked_data/test_get_interfaces_counters/no_canonical_for_mgmt/show_interface_summary.txt
  test/ios/mocked_data/test_get_interfaces_counters/no_canonical_for_mgmt/show_interfaces.txt
  test/ios/mocked_data/test_get_optics/interface_shutdown_v2/expected_result.json
  test/ios/mocked_data/test_get_optics/interface_shutdown_v2/show_interfaces_transceiver.txt
  test/ios/mocked_data/test_get_optics/vss_setup/expected_result.json
  test/ios/mocked_data/test_get_optics/vss_setup/show_interfaces_transceiver.txt
  test/ios/mocked_data/test_get_optics/vss_setup/show_interfaces_transceiver_switch_1.txt
  test/ios/mocked_data/test_get_optics/vss_setup/show_interfaces_transceiver_switch_2.txt
  test/ios/mocked_data/test_get_optics/vss_setup/show_switch_virtual.txt
Labels: release

#1222 Clarify in the docs that NAPALM 3 is Python 3.6+ only
  README.md
  docs/installation/index.rst
Labels: documentation

#1230 Fixing get_bgp_neighbors and asdot notation on NX-OS
  napalm/nxos/nxos.py
  test/nxos/mocked_data/test_get_bgp_neighbors/asdot/expected_result.json
  test/nxos/mocked_data/test_get_bgp_neighbors/asdot/show_bgp_all_summary_vrf_all.json
Labels: enhancement, nxos
