Repository napalm-automation/napalm, pull requests merged in 2020-07, with the labels that each got.

#1248 Fix #1247 by making PEM naming consistent
  napalm/junos/junos.py
  test/junos/mocked_data/test_get_environment/mx10003/expected_result.json
  test/junos/mocked_data/test_get_environment/mx10003/get-environment-information.xml
  test/junos/mocked_data/test_get_environment/mx10003/get-power-usage-information-detail.xml
  test/junos/mocked_data/test_get_environment/mx10003/get-route-engine-information.xml
  test/junos/mocked_data/test_get_environment/mx10003/get-temperature-threshold-information.xml
Labels: bug, junos, needs testcase

#1220 Bugfix/ios get optics metric fix
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_optics/interface_shutdown_v2/expected_result.json
  test/ios/mocked_data/test_get_optics/vss_setup/expected_result.json
Labels: bug, ios

#1254 Add CLI support to configuration methods
  napalm/iosxr_netconf/constants.py
  napalm/iosxr_netconf/iosxr_netconf.py
Labels: iosxr_netconf, method implementation

#1121 Allow username detection on older Cisco ios versions
  napalm/ios/ios.py
Labels: bug, ios, requested changes

#1240 fix: force_no_enable enabled on ios and nx only
  napalm/base/base.py
Labels: core, enhancement, optional arg

#1215 Initial version for nxos_ssh get_optics
  napalm/nxos_ssh/nxos_ssh.py
  test/nxos_ssh/mocked_data/test_get_optics/NEXUS3548_v6.0/expected_result.json
  test/nxos_ssh/mocked_data/test_get_optics/NEXUS3548_v6.0/show_interface_transceiver_details.txt
Labels: method implementation, nxos-ssh

#1252 Release 3.1.0
  README.md
  docs/installation/index.rst
  napalm/base/base.py
  napalm/base/helpers.py
  napalm/ios/ios.py
  napalm/junos/junos.py
  napalm/nxos/nxos.py
  napalm/nxos_ssh/nxos_ssh.py
  requirements-dev.txt
  setup.py
  test/ios/mocked_data/test_get_optics/interface_shutdown_v2/expected_result.json
  test/ios/mocked_data/test_get_optics/vss_setup/expected_result.json
  test/junos/mocked_data/test_get_environment/mx10003/expected_result.json
  test/junos/mocked_data/test_get_environment/mx10003/get-environment-information.xml
  test/junos/mocked_data/test_get_environment/mx10003/get-power-usage-information-detail.xml
  test/junos/mocked_data/test_get_environment/mx10003/get-route-engine-information.xml
  test/junos/mocked_data/test_get_environment/mx10003/get-temperature-threshold-information.xml
  test/nxos/mocked_data/test_get_bgp_neighbors/asdot/expected_result.json
  test/nxos/mocked_data/test_get_bgp_neighbors/asdot/show_bgp_all_summary_vrf_all.json
  test/nxos_ssh/mocked_data/test_get_optics/NEXUS3548_v6.0/expected_result.json
  test/nxos_ssh/mocked_data/test_get_optics/NEXUS3548_v6.0/show_interface_transceiver_details.txt
Labels: release
