Repository napalm-automation/napalm, pull requests merged in 2020-01, with the labels that each got.

#1021 Handle 'none' IP Address on nxos_ssh for get_interfaces_ip
  napalm/nxos_ssh/nxos_ssh.py
  test/nxos_ssh/mocked_data/test_get_interfaces_ip/ip_address_none/expected_result.json
  test/nxos_ssh/mocked_data/test_get_interfaces_ip/ip_address_none/show_ip_interface_vrf_all.txt
  test/nxos_ssh/mocked_data/test_get_interfaces_ip/ip_address_none/show_ipv6_interface_vrf_all.txt
Labels: bug, nxos-ssh, requested changes

#1102 FIX: traceroute output parsing in ios
  napalm/ios/ios.py
Labels: bug, ios

#1084 firmware less than 7 does not support json in cli
  napalm/nxos_ssh/nxos_ssh.py
  test/nxos_ssh/mocked_data/test_get_facts/does_not_support_json/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/does_not_support_json/show_hostname.txt
  test/nxos_ssh/mocked_data/test_get_facts/does_not_support_json/show_hosts.txt
  test/nxos_ssh/mocked_data/test_get_facts/does_not_support_json/show_interface_status.txt
  test/nxos_ssh/mocked_data/test_get_facts/does_not_support_json/show_inventory.txt
  test/nxos_ssh/mocked_data/test_get_facts/does_not_support_json/show_inventory___json.txt
  test/nxos_ssh/mocked_data/test_get_facts/does_not_support_json/show_version.txt
Labels: bug, nxos-ssh

#1107 Updated support for TwoGigabit & TwentyFiveGig interfaces to canonical_map.py
  napalm/base/canonical_map.py
Labels: core, enhancement
