Repository napalm-automation/napalm, pull requests merged in 2020-09, with the labels that each got.

#1287 Feature/nxos ssh get interfaces counters
  napalm/nxos_ssh/nxos_ssh.py
  test/nxos_ssh/mocked_data/test_get_interfaces_counters/Nexus3548/expected_result.json
  test/nxos_ssh/mocked_data/test_get_interfaces_counters/Nexus3548/show_interface___json.txt
  test/nxos_ssh/mocked_data/test_get_interfaces_counters/Nexus3548/show_interface_counters_detailed___json.txt
Labels: method implementation, nxos-ssh

#1288 Fix mapping for Juniper devices with Netmiko
  napalm/base/constants.py
Labels: bug, core

#1290 Look up the KeepAliveTime and HoldTime keys in the VRF tree
  napalm/iosxr/iosxr.py
Labels: bug, iosxr
