Repository napalm-automation/napalm, pull requests merged in 2020-02, with the labels that each got.

#1108 Prevent nxos.get_interfaces_ip from failing if no ipv6 support
  napalm/nxos/nxos.py
  test/nxos/mocked_data/test_get_interfaces_ip/no_ipv6_support/expected_result.json
  test/nxos/mocked_data/test_get_interfaces_ip/no_ipv6_support/show_ip_interface.json
  test/nxos/mocked_data/test_get_interfaces_ip/no_ipv6_support/show_ipv6_interface.json
Labels: bug, nxos, vendor bug

#1117 Add auto_probe option for JunOS devices
  docs/support/index.rst
  napalm/junos/junos.py
  test/junos/conftest.py
Labels: enhancement, junos, optional arg

#735 Return more specific with `get_route_to()`
  docs/conf.py
  napalm/base/base.py
  napalm/base/test/getters.py
  napalm/eos/eos.py
  napalm/ios/ios.py
  napalm/iosxr/iosxr.py
  napalm/junos/junos.py
  napalm/nxos_ssh/nxos_ssh.py
  test/base/test_mock_driver.py
  test/eos/mocked_data/test_get_route_to/iss_736/show_ip_bgp_1_0_4_0_24__detail_vrf_default.json
  test/eos/mocked_data/test_get_route_to/iss_736/show_ip_route_vrf_default_1_0_4_0_24__bgp_detail.json
  test/eos/mocked_data/test_get_route_to/normal/show_ip_bgp_1_0_4_0_24__detail_vrf_TEST.json
  test/eos/mocked_data/test_get_route_to/normal/show_ip_bgp_1_0_4_0_24__detail_vrf_default.json
  test/eos/mocked_data/test_get_route_to/normal/show_ip_route_vrf_TEST_1_0_4_0_24__bgp_detail.json
  test/eos/mocked_data/test_get_route_to/normal/show_ip_route_vrf_default_1_0_4_0_24__bgp_detail.json
  test/eos/mocked_data/test_get_route_to_longer/normal/expected_result.json
  test/eos/mocked_data/test_get_route_to_longer/normal/show_ip_bgp_1_0_4_0_24_longer_prefixes_detail_vrf_TEST.json
  test/eos/mocked_data/test_get_route_to_longer/normal/show_ip_bgp_1_0_4_0_24_longer_prefixes_detail_vrf_default.json
  test/eos/mocked_data/test_get_route_to_longer/normal/show_ip_bgp_1_0_4_0_25_detail_vrf_TEST.json
  test/eos/mocked_data/test_get_route_to_longer/normal/show_ip_bgp_1_0_4_0_25_detail_vrf_default.json
  test/eos/mocked_data/test_get_route_to_longer/normal/show_ip_bgp_1_0_4_128_25_detail_vrf_TEST.json
  test/eos/mocked_data/test_get_route_to_longer/normal/show_ip_bgp_1_0_4_128_25_detail_vrf_default.json
  test/eos/mocked_data/test_get_route_to_longer/normal/show_ip_route_vrf_TEST_1_0_4_0_24_longer_prefixes_bgp_detail.json
  test/eos/mocked_data/test_get_route_to_longer/normal/show_ip_route_vrf_default_1_0_4_0_24_longer_prefixes_bgp_detail.json
  test/eos/mocked_data/test_get_route_to_longer/normal/show_vrf.text
Labels: api change, enhancement, eos, iosxr, junos
