Repository napalm-automation/napalm, pull requests merged in 2020-04, with the labels that each got.

#1160 Add requests as dependency
  requirements.txt
Labels: bug

#1163 adding .vscode and .devcontainer
  .gitignore
Labels: internal

#1150 Fix for napalm-automation/napalm#1145 = get_vlans() broken on NX-OS where no interfaces in VLAN
  napalm/nxos/nxos.py
  napalm/nxos_ssh/nxos_ssh.py
  test/nxos/mocked_data/test_get_vlans/interface_without_vlans/expected_result.json
  test/nxos/mocked_data/test_get_vlans/interface_without_vlans/show_vlan_brief.json
  test/nxos_ssh/mocked_data/test_get_vlans/interface_without_vlans/expected_result.json
  test/nxos_ssh/mocked_data/test_get_vlans/interface_without_vlans/show_vlan_brief___json.txt
Labels: bug, nxos

#1170 Minor pylama fixes
  napalm/ios/ios.py
  setup.cfg
Labels: internal, ios

#984 Force no enable
  napalm/base/base.py
  napalm/ios/ios.py
Labels: optional arg, requested changes

#1172 Use Kickstart version to determine NXOS version
  napalm/nxos/nxos.py
Labels: bug, nxos, vendor bug

#1173 Add nxos_ssh support for force_no_enable
  docs/support/index.rst
  napalm/nxos/nxos.py
Labels: enhancement, nxos-ssh, optional arg

#822 Implement #819 for `EOSDriver`
  docs/conf.py
  napalm/base/test/getters.py
  napalm/eos/eos.py
  test/eos/mocked_data/test_get_interfaces_ip_vrf/normal/expected_result.json
  test/eos/mocked_data/test_get_interfaces_ip_vrf/normal/show_ip_interface.json
  test/eos/mocked_data/test_get_interfaces_ip_vrf/normal/show_ipv6_interface.json
Labels: api change, enhancement, eos

#1175 Fix #1153: Strip double quotation on LLDP remote port
  napalm/eos/eos.py
  test/eos/mocked_data/test_get_lldp_neighbors_detail/issue1153/expected_result.json
  test/eos/mocked_data/test_get_lldp_neighbors_detail/issue1153/show_lldp_neighbors__detail.json
  test/eos/mocked_data/test_get_lldp_neighbors_detail/normal/expected_result.json
Labels: bug, eos, vendor bug

#1174 Continue work on PR #1148
  napalm/ios/ios.py
  test/ios/mocked_data/test_traceroute/normal/traceroute_8_8_8_8_ttl_255_timeout_2.txt
Labels: bug, ios

#1177 add a few less used canonical mappings
  napalm/base/canonical_map.py
  napalm/nxos/nxos.py
  napalm/nxos_ssh/nxos_ssh.py
  test/nxos/mocked_data/test_get_lldp_neighbors/normal/expected_result.json
  test/nxos/mocked_data/test_get_lldp_neighbors_detail/normal/expected_result.json
  test/nxos/mocked_data/test_get_vlans/6000/expected_result.json
  test/nxos/mocked_data/test_get_vlans/interface_without_vlans/expected_result.json
  test/nxos/mocked_data/test_get_vlans/normal/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/7009_6_2_14/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/N93180/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/does_not_support_json/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/missing_domain/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/newer_version/expected_result.json
  test/nxos_ssh/mocked_data/test_get_facts/normal/expected_result.json
  test/nxos_ssh/mocked_data/test_get_interfaces/N93180_7_0_3_I7_2/expected_result.json
  test/nxos_ssh/mocked_data/test_get_interfaces/alternate1/expected_result.json
  test/nxos_ssh/mocked_data/test_get_interfaces/normal/expected_result.json
  test/nxos_ssh/mocked_data/test_get_mac_address_table/normal/expected_result.json
  test/nxos_ssh/mocked_data/test_get_vlans/6000/expected_result.json
  test/nxos_ssh/mocked_data/test_get_vlans/interface_without_vlans/expected_result.json
  test/nxos_ssh/mocked_data/test_get_vlans/normal/expected_result.json
Labels: core, enhancement, nxos, nxos-ssh

#1162 fixing show interfaces summary for 10/40/100 Gig Interfaces
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_interfaces_counters/short_if_names/expected_result.json
  test/ios/mocked_data/test_get_interfaces_counters/short_if_names/show_interface_summary.txt
  test/ios/mocked_data/test_get_interfaces_counters/short_if_names/show_interfaces.txt
Labels: bug, ios

#992 Create NOTICE
  NOTICE
Labels: internal

#996 Update to handle Cisco ISR mac address table with multiple EHWIC mod…
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_mac_address_table/isr_multiple_ehwic_format/expected_result.json
  test/ios/mocked_data/test_get_mac_address_table/isr_multiple_ehwic_format/show_mac_address_table.txt
Labels: bug, ios

#838 add range for validate
  docs/validate/index.rst
  napalm/base/validate.py
  test/base/validate/mocked_data/non_strict_fail/report.yml
  test/base/validate/mocked_data/non_strict_fail/validate.yml
  test/base/validate/mocked_data/non_strict_pass/report.yml
  test/base/validate/mocked_data/non_strict_pass/validate.yml
Labels: WIP, enhancement, on_hold, validate

#1185 Fix get_bgp_neighbors_detail IOS-XE
  napalm/ios/utils/textfsm_templates/ip_bgp_all_sum.tpl
  napalm/ios/utils/textfsm_templates/ip_bgp_neigh.tpl
  test/ios/mocked_data/test_get_bgp_neighbors_detail/normal/expected_result.json
  test/ios/mocked_data/test_get_bgp_neighbors_detail/normal/show_ip_bgp_all_sum.txt
  test/ios/mocked_data/test_get_bgp_neighbors_detail/normal/show_ip_bgp_ipv6_unicast_neigh_2001_559__3.txt
Labels: bug, ios, iosxe

#1186 Cast upDownTime BGP neighbor field to float
  napalm/eos/eos.py
  test/eos/mocked_data/test_get_bgp_neighbors/issue1168/expected_result.json
  test/eos/mocked_data/test_get_bgp_neighbors/issue1168/show_ip_bgp_neighbors_vrf_all___include_remote_AS___remote_router_ID__IPv_46___Unicast_6PE_____0_9____Local_AS_Desc_BGP_state.text
  test/eos/mocked_data/test_get_bgp_neighbors/issue1168/show_ip_bgp_summary_vrf_all.json
  test/eos/mocked_data/test_get_bgp_neighbors/issue1168/show_ipv6_bgp_neighbors_vrf_all___include_remote_AS___remote_router_ID__IPv_46___Unicast_6PE_____0_9____Local_AS_Desc_BGP_state.text
  test/eos/mocked_data/test_get_bgp_neighbors/issue1168/show_ipv6_bgp_summary_vrf_all.json
Labels: bug, eos, vendor bug
