Repository napalm-automation/napalm, pull requests merged in 2020-08, with the labels that each got.

#1263 Allow positional arguments for run_commands in eapi Node override
  napalm/eos/pyeapi_syntax_wrapper.py
Labels: enhancement, eos

#1096 Allow non-exact route lookup in IOS
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_route_to/non_exact/expected_result.json
  test/ios/mocked_data/test_get_route_to/non_exact/show_ip_bgp_1_0_4_0_24.txt
  test/ios/mocked_data/test_get_route_to/non_exact/show_ip_bgp_neighbors___include_is_200_200_200_1.txt
  test/ios/mocked_data/test_get_route_to/non_exact/show_ip_bgp_vpnv4_vrf_CustB_1_0_4_0_24.txt
  test/ios/mocked_data/test_get_route_to/non_exact/show_ip_bgp_vpnv4_vrf_CustB_neighbors___include_is_169_254_255_1.txt
  test/ios/mocked_data/test_get_route_to/non_exact/show_ip_protocols___include_bgp.txt
  test/ios/mocked_data/test_get_route_to/non_exact/show_ip_route_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/non_exact/show_ip_route_vrf_CustA_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/non_exact/show_ip_route_vrf_CustB_1_0_4_0_255_255_255_0.txt
  test/ios/mocked_data/test_get_route_to/non_exact/show_vrf.txt
Labels: bug, enhancement, ios, needs testcase, pending discussion

#1267 IOS-XR get_route_to fix pyIOSXR.exceptions.XMLCLIError for some versions
  napalm/iosxr/iosxr.py
Labels: bug, iosxr

#1272 Fix EOS get_arp_table for static ARP records
  napalm/eos/eos.py
  napalm/ios/ios.py
  napalm/iosxr/iosxr.py
  test/eos/mocked_data/test_get_arp_table/static_arp/expected_result.json
  test/eos/mocked_data/test_get_arp_table/static_arp/show_arp_vrf_all.json
  test/ios/mocked_data/test_get_arp_table/normal/expected_result.json
  test/ios/mocked_data/test_get_arp_table/static_arp_entry/expected_result.json
  test/ios/mocked_data/test_get_arp_table_with_vrf/normal/expected_result.json
  test/iosxr/mocked_data/test_get_arp_table/normal/expected_result.json
Labels: bug, eos

#1275 Version 3.2.0
  setup.py
Labels: release

#1279 Add get_vlans getter to EOS network driver
  napalm/eos/eos.py
  napalm/ios/ios.py
  test/eos/mocked_data/test_get_vlans/normal/expected_result.json
  test/eos/mocked_data/test_get_vlans/normal/show_vlan.json
Labels: eos, method implementation
