Repository napalm-automation/napalm, pull requests merged in 2020-03, with the labels that each got.

#1133 Fix exception when trying to get environmental data from certain Nexus devices
  napalm/nxos/nxos.py
  test/nxos/mocked_data/test_get_environment/nxos_3k/expected_result.json
  test/nxos/mocked_data/test_get_environment/nxos_3k/show_environment.json
  test/nxos/mocked_data/test_get_environment/nxos_3k/show_processes_cpu.json
  test/nxos/mocked_data/test_get_environment/nxos_3k/show_processes_memory_shared.json
Labels: needs testcase, nxos, vendor bug

#938 FIX: fix vrf detection when no vrf is defined
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_network_instances/novrf/expected_result.json
  test/ios/mocked_data/test_get_network_instances/novrf/show_ip_interface_brief.txt
  test/ios/mocked_data/test_get_network_instances/novrf/show_vrf_detail.txt
Labels: bug, ios, needs testcase

#1132 No silent pass of errors in base.helpers & iOS-XR - logging
  napalm/__init__.py
  napalm/base/helpers.py
  napalm/iosxr/iosxr.py
  napalm/pyIOSXR/iosxr.py
Labels: core, enhancement, iosxr

#1141 Add support for XML namespace prefixes in find_txt
  napalm/base/helpers.py
Labels: core, enhancement, requested changes
