Repository napalm-automation/napalm, pull requests merged in 2021-03, with the labels that each got.

#1382 resolve #1293
  napalm/junos/junos.py
  napalm/junos/utils/junos_views.yml
  test/junos/mocked_data/test_get_interfaces_counters/normal/expected_result.json
Labels: enhancement, get_interfaces_counters, junos

#1398 Add get_vlans for Junos
  napalm/junos/junos.py
  napalm/junos/utils/junos_views.yml
  test/junos/mocked_data/test_get_vlans/bridge_domain/expected_result.json
  test/junos/mocked_data/test_get_vlans/bridge_domain/facts.yml
  test/junos/mocked_data/test_get_vlans/bridge_domain/get-bridge-instance-information.xml
  test/junos/mocked_data/test_get_vlans/vlan/expected_result.json
  test/junos/mocked_data/test_get_vlans/vlan/facts.yml
  test/junos/mocked_data/test_get_vlans/vlan/get-vlan-information.xml
  test/junos/mocked_data/test_get_vlans/vlan_l2ng/expected_result.json
  test/junos/mocked_data/test_get_vlans/vlan_l2ng/facts.yml
  test/junos/mocked_data/test_get_vlans/vlan_l2ng/get-vlan-information.xml
Labels: get_vlans, junos, method implementation

#1404 XR 7+: get_lldp_neighbors_detail query only the NodeTable
  napalm/iosxr/iosxr.py
  test/iosxr/mocked_data/test_get_lldp_neighbors_detail/normal/_Get__Operational__LLDP__NodeTable___NodeTable___LLDP___Operational___Get_.txt
Labels: bug, get_lldp_neighbors_detail, iosxr, vendor bug

#1400 Resolve #1181 and reduce the get_facts heavy workload
  napalm/iosxr/iosxr.py
  test/iosxr/mocked_data/test_get_environment/normal/_Get__AdminOperational__MemorySummary___________________MemorySummary___AdminOperational___Get_.txt
  test/iosxr/mocked_data/test_get_environment/normal/_Get__Operational__SystemTime___PlatformInventory__RackTable__Rack__Naming__Name_0__Name___Naming__Attributes__BasicInfo____Attributes___Rack___RackTa.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__AdminOperational__EnvironmentalMonitoring__RackTable__Rack__Naming______________rack_0__rack___Naming__SlotTable__Slot__Naming__slot_0__slot___N.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__AdminOperational__EnvironmentalMonitoring__RackTable__Rack__Naming______________rack_0__rack___Naming__SlotTable__Slot__Naming__slot_1__slot___N.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__AdminOperational__EnvironmentalMonitoring__RackTable__Rack__Naming______________rack_0__rack___Naming__SlotTable__Slot__Naming__slot_FT0__slot__.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__AdminOperational__EnvironmentalMonitoring__RackTable__Rack__Naming______________rack_0__rack___Naming__SlotTable__Slot__Naming__slot_FT1__slot__.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__AdminOperational__EnvironmentalMonitoring__RackTable__Rack__Naming______________rack_0__rack___Naming__SlotTable__Slot__Naming__slot_PM0__slot__.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__AdminOperational__EnvironmentalMonitoring__RackTable__Rack__Naming______________rack_0__rack___Naming__SlotTable__Slot__Naming__slot_RSP0__slot_.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__AdminOperational__EnvironmentalMonitoring__RackTable__Rack__Naming______________rack_0__rack___Naming__SlotTable__Slot__Naming__slot_RSP1__slot_.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__AdminOperational__PlatformInventory__RackTable__Rack__Naming__________Name_0__Name___Naming__SlotTable___SlotTable___Rack___RackTable___Platform.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__Operational__Interfaces____Operational___Get_.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__Operational__MemorySummary___________________MemorySummary___Operational___Get_.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__Operational__SystemMonitoring___SystemMonitoring___Operational___Get_.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/_Get__Operational__SystemTime___PlatformInventory__RackTable__Rack__Naming__Name_0__Name___Naming__Attributes__BasicInfo____Attributes___Rack___RackTa.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/expected_result.json
  test/iosxr/mocked_data/test_get_facts/normal/_Get__Operational__SystemTime___PlatformInventory__RackTable__Rack__Naming__Name_0__Name___Naming__Attributes__BasicInfo____Attributes___Rack___RackTa.txt
Labels: bug, get_environment, get_facts, iosxr

#1408 Add support for commit + confirm on Junos
  docs/support/index.rst
  napalm/base/exceptions.py
  napalm/junos/junos.py
Labels: commit confirm, enhancement, method implementation

#1411 Handle control plane interface
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_interfaces/control-plane-interface/expected_result.json
  test/ios/mocked_data/test_get_interfaces/control-plane-interface/show_interfaces.txt
Labels: bug, get_interfaces, ios

#1409 Fix #1385
  napalm/junos/utils/junos_views.yml
  test/junos/mocked_data/test_get_users/issue1385/_configuration__system____configuration_.xml
  test/junos/mocked_data/test_get_users/issue1385/_configuration__system__login__user____login___system___configuration_.xml
  test/junos/mocked_data/test_get_users/issue1385/expected_result.json
Labels: bug, get_users, junos

#1414 Fix sinitized bug for Junos
  napalm/junos/junos.py
  test/junos/mocked_data/test_get_config_sanitized/normal/expected_result.json
  test/junos/mocked_data/test_get_config_sanitized/normal/get_config__database_candidate__format_text.xml
  test/junos/mocked_data/test_get_config_sanitized/normal/get_config__database_committed__format_text.xml
Labels: bug, get_config, junos
