Repository napalm-automation/napalm, pull requests merged in 2021-06, with the labels that each got.

#1457 Fix bgp flap_count issue for iosxr_netconf
  napalm/iosxr_netconf/iosxr_netconf.py
  test/iosxr_netconf/mocked_data/test_get_bgp_neighbors_detail/normal/expected_result.json
Labels: bug, iosxr_netconf

#1467 Fix Junos test fixtures after junos-eznc 2.6.1 release
  test/junos/conftest.py
Labels: bug, internal, junos, testing framework

#1465 Release 3.3.1
  README.md
  napalm/base/base.py
  napalm/base/constants.py
  napalm/eos/eos.py
  napalm/ios/ios.py
  napalm/iosxr/iosxr.py
  napalm/iosxr_netconf/iosxr_netconf.py
  napalm/junos/junos.py
  napalm/nxos/nxos.py
  requirements-dev.txt
  setup.py
  test/iosxr/mocked_data/test_get_bgp_neighbors_detail/normal/expected_result.json
  test/iosxr_netconf/mocked_data/test_get_bgp_neighbors_detail/normal/expected_result.json
  test/junos/conftest.py
Labels: release
