Repository napalm-automation/napalm, pull requests merged in 2021-01, with the labels that each got.

#1346 Fix for issue #1069
  napalm/eos/eos.py
  test/eos/mocked_data/test_get_route_to/iss_1069/expected_result.json
  test/eos/mocked_data/test_get_route_to/iss_1069/show_ip_bgp_1_0_4_0_24__detail_vrf_default.json
  test/eos/mocked_data/test_get_route_to/iss_1069/show_ip_route_vrf_default_1_0_4_0_24__bgp_detail.json
  test/eos/mocked_data/test_get_route_to/iss_1069/show_vrf.text
Labels: Info needed, bug, eos, needs testcase

#1347 Set next hop to something valid for vxlan routes
  napalm/eos/eos.py
  test/eos/mocked_data/test_get_route_to/iss_1347/expected_result.json
  test/eos/mocked_data/test_get_route_to/iss_1347/show_ip_bgp_1_0_4_0_24__detail_vrf_TEST.json
  test/eos/mocked_data/test_get_route_to/iss_1347/show_ip_bgp_1_0_4_0_24__detail_vrf_default.json
  test/eos/mocked_data/test_get_route_to/iss_1347/show_ip_route_vrf_TEST_1_0_4_0_24__bgp_detail.json
  test/eos/mocked_data/test_get_route_to/iss_1347/show_ip_route_vrf_default_1_0_4_0_24__bgp_detail.json
  test/eos/mocked_data/test_get_route_to/iss_1347/show_vrf.text
Labels: bug, eos, needs testcase

#1356 Fix for BGP description not found by get_bgp_neighbors in some EOS versions
  napalm/eos/eos.py
  test/eos/mocked_data/test_get_bgp_neighbors/issue1356/expected_result.json
  test/eos/mocked_data/test_get_bgp_neighbors/issue1356/show_ip_bgp_neighbors_vrf_all___include_remote_AS___remote_router_ID__IPv_46___Unicast_6PE_____0_9____Local_AS_Desc_BGP_state.text
  test/eos/mocked_data/test_get_bgp_neighbors/issue1356/show_ip_bgp_summary_vrf_all.json
  test/eos/mocked_data/test_get_bgp_neighbors/issue1356/show_ipv6_bgp_neighbors_vrf_all___include_remote_AS___remote_router_ID__IPv_46___Unicast_6PE_____0_9____Local_AS_Desc_BGP_state.text
  test/eos/mocked_data/test_get_bgp_neighbors/issue1356/show_ipv6_bgp_summary_vrf_all.json
Labels: bug, eos, get_bgp_neighbors

#1357 Version 3.3.0rc1
  setup.py
Labels: release

#1321 Set minimum ttl to zero to fix issue #1320
  napalm/ios/ios.py
  test/ios/mocked_data/test_traceroute/normal/traceroute_8_8_8_8_ttl_0_255_timeout_2.txt
Labels: bug, ios, traceroute
