Repository napalm-automation/napalm, pull requests merged in 2022-03, with the labels that each got.

#1567 Fix #1554: Improve compare_config for NXOS partial merging
  docs/support/nxos.rst
  napalm/nxos/nxos.py
Labels: enhancement, nxos, nanog84-hackathon, compare_config

#1570 Fix #1569: Parse all interfaces from vlans when separated by newlines
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_vlans/no_show_vlan_all_ports/expected_result.json
  test/ios/mocked_data/test_get_vlans/no_show_vlan_all_ports/show_vlan_id_763.txt
  test/ios/mocked_data/test_get_vlans/normal/expected_result.json
  test/ios/mocked_data/test_get_vlans/normal/show_vlan_all_ports.txt
Labels: bug, ios, get_vlans

#1571 Fix description on SVI in NXOS
  napalm/nxos/nxos.py
  test/nxos/mocked_data/test_get_interfaces/vlan_interface/expected_result.json
  test/nxos/mocked_data/test_get_interfaces/vlan_interface/show_interface.json
Labels: enhancement, nxos, get_interfaces
