Repository napalm-automation/napalm, pull requests merged in 2022-07, with the labels that each got.

#1682 add alternative lldp local interface key
  napalm/ios/utils/textfsm_templates/show_lldp_neighbors_detail.tpl
Labels: bug, ios, get_lldp_neighbors_detail

#1673 Handle modern memory output from Arista EOS 4.27+
  napalm/eos/eos.py
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/expected_result.json
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_environment_cooling.json
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_environment_power.json
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_environment_temperature.json
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_processes_top_once.text
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_version.json
Labels: bug, eos, get_environment

#1687 Pin to textfsm<=1.1.2
  requirements.txt
Labels: bug, dependency issue

#1667 Improving iosxr get_facts behavior to handle XML changes in newer OS versions
  napalm/iosxr/iosxr.py
  test/iosxr/conftest.py
  test/iosxr/mocked_data/test_get_environment/normal/__Get_____Operational_______SystemTime________PlatformInventory_________RackTable___________Rack_____________Naming_______________Name_0__Name________.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/__Get_____Operational_______SystemTime________PlatformInventory_________RackTable___________Rack_____________Naming_______________Name_0__Name________.txt
  test/iosxr/mocked_data/test_get_facts/normal/__Get_____Operational_______SystemTime________PlatformInventory_________RackTable___________Rack_____________Naming_______________Name_0__Name________.txt
  test/iosxr/mocked_data/test_get_facts/normal_alt_form/_Get__Operational__Interfaces____Operational___Get_.txt
  test/iosxr/mocked_data/test_get_facts/normal_alt_form/__Get_____Operational_______SystemTime________Inventory_________Entities___________Entity_____________Naming_______________Name_Rack_0__Name__________.txt
  test/iosxr/mocked_data/test_get_facts/normal_alt_form/expected_result.json
Labels: bug, iosxr, get_facts

#1688 Merge forward from develop to master
  docs/support/index.rst
  napalm/base/constants.py
  napalm/eos/eos.py
  napalm/ios/ios.py
  napalm/ios/utils/textfsm_templates/show_lldp_neighbors_detail.tpl
  napalm/iosxr/iosxr.py
  napalm/junos/junos.py
  requirements-dev.txt
  requirements.txt
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/expected_result.json
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_environment_cooling.json
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_environment_power.json
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_environment_temperature.json
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_processes_top_once.text
  test/eos/mocked_data/test_get_environment/issue1671_top_mb/show_version.json
  test/iosxr/conftest.py
  test/iosxr/mocked_data/test_get_environment/normal/__Get_____Operational_______SystemTime________PlatformInventory_________RackTable___________Rack_____________Naming_______________Name_0__Name________.txt
  test/iosxr/mocked_data/test_get_environment/xr7_issue_1181/__Get_____Operational_______SystemTime________PlatformInventory_________RackTable___________Rack_____________Naming_______________Name_0__Name________.txt
  test/iosxr/mocked_data/test_get_facts/normal/__Get_____Operational_______SystemTime________PlatformInventory_________RackTable___________Rack_____________Naming_______________Name_0__Name________.txt
  test/iosxr/mocked_data/test_get_facts/normal_alt_form/_Get__Operational__Interfaces____Operational___Get_.txt
  test/iosxr/mocked_data/test_get_facts/normal_alt_form/__Get_____Operational_______SystemTime________Inventory_________Entities___________Entity_____________Naming_______________Name_Rack_0__Name__________.txt
  test/iosxr/mocked_data/test_get_facts/normal_alt_form/expected_result.json
Labels: release
