Repository napalm-automation/napalm, pull requests merged in 2022-06, with the labels that each got.

#1642 Move config lock check to _load_config
  napalm/eos/eos.py
Labels: eos, commit_config

#1647 Eos stateful
  napalm/eos/eos.py
  test/eos/conftest.py
  test/eos/test_heredoc.py
Labels: enhancement, eos

#1651 [Fix] models
  napalm/base/base.py
  napalm/base/models.py
  napalm/eos/eos.py
  napalm/ios/ios.py
  napalm/iosxr/iosxr.py
  napalm/iosxr_netconf/iosxr_netconf.py
  napalm/junos/junos.py
  napalm/nxos/nxos.py
  napalm/nxos_ssh/nxos_ssh.py
Labels: api change, get_facts, get_interfaces

#1637 EOS: Add a JSON option when running a cli command
  napalm/base/base.py
  napalm/base/mock.py
  napalm/eos/eos.py
  napalm/ios/ios.py
  napalm/iosxr/iosxr.py
  napalm/iosxr_netconf/iosxr_netconf.py
  napalm/junos/junos.py
  napalm/nxos/nxos.py
  napalm/nxos_ssh/nxos_ssh.py
  test/junos/TestJunOSDriver.py
  test/junos/conftest.py
Labels: enhancement, eos, api change, cli

#1663 [Junos] Support JSON as output formats for CLI show commands
  napalm/junos/junos.py
Labels: junos, api change, cli

#1643 eos: support arbitrary transport class
  napalm/eos/eos.py
Labels: eos, feature, needs testcase, optional arg, underlying library
