Repository napalm-automation/napalm, pull requests merged in 2022-02, with the labels that each got.

#1476 Type hinting
  .github/workflows/commit.yaml
  mypy.ini
  napalm/base/__init__.py
  napalm/base/base.py
  napalm/base/helpers.py
  napalm/base/mock.py
  napalm/base/netmiko_helpers.py
  napalm/base/test/base.py
  napalm/base/test/getters.py
  napalm/base/test/models.py
  napalm/base/utils/jinja_filters.py
  napalm/base/utils/string_parsers.py
  napalm/base/validate.py
  napalm/nxapi_plumbing/api_client.py
  napalm/nxapi_plumbing/device.py
  napalm/nxapi_plumbing/errors.py
  napalm/nxapi_plumbing/utilities.py
  napalm/nxos/nxos.py
  requirements-dev.txt
  test/base/test_helpers.py
  test/nxapi_plumbing/conftest.py
  test/nxos/test_getters.py
  test/nxos_ssh/test_getters.py
Labels: typing, nanog84-hackathon

#1560 Adds mac, ip checks for getters
  napalm/ios/ios.py
  test/ios/mocked_data/test_get_interfaces_ip/normal/expected_result.json
  test/ios/mocked_data/test_get_lldp_neighbors/missing_hostname/expected_result.json
  test/ios/mocked_data/test_get_lldp_neighbors_detail/alternate/expected_result.json
  test/ios/mocked_data/test_get_lldp_neighbors_detail/alternate2/expected_result.json
  test/ios/mocked_data/test_get_lldp_neighbors_detail/alternate4/expected_result.json
  test/ios/mocked_data/test_get_lldp_neighbors_detail/device_id_20chars/expected_result.json
  test/ios/mocked_data/test_get_lldp_neighbors_detail/device_id_20chars_space/expected_result.json
  test/ios/mocked_data/test_get_lldp_neighbors_detail/missing_capability/expected_result.json
  test/ios/mocked_data/test_get_lldp_neighbors_detail/normal/expected_result.json
  test/ios/mocked_data/test_get_lldp_neighbors_detail/older_ios/expected_result.json
  test/ios/mocked_data/test_traceroute/normal/expected_result.json
Labels: enhancement, ios, nanog84-hackathon

#1565 Replace confparse w netutils
  mypy.ini
  napalm/base/helpers.py
  napalm/ios/ios.py
  requirements.txt
Labels: api change, core, nanog84-hackathon

#1563 Add ttp_parse helper function to codebase
  mypy.ini
  napalm/base/helpers.py
  requirements-dev.txt
  requirements.txt
  test/base/test_helpers.py
  test/base/utils/ttp_templates/bad_template.txt
  test/base/utils/ttp_templates/good_template.txt
Labels: enhancement, core, nanog84-hackathon, TTP

#1566 Fix #1549: Check peer admin status from the BGP options
  napalm/junos/junos.py
  napalm/junos/utils/junos_views.yml
  test/junos/mocked_data/test_get_bgp_neighbors/normal/expected_result.json
  test/junos/mocked_data/test_get_bgp_neighbors/normal/get-bgp-neighbor-informationfrontend.xml
  test/junos/mocked_data/test_get_bgp_neighbors/normal/get-bgp-summary-informationfrontend.xml
Labels: bug, junos, get_bgp_neighbors, nanog84-hackathon
